@model IEnumerable<MotoBikeShop.ViewModels.HangHoaVM>
@using Microsoft.AspNetCore.Mvc.Localization
@using MotoBikeShop.Resources
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<style>
    .homepage-product-slide-tab .homepage-product-slide-tab-detail {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .homepage-product-slide-tab:hover .homepage-product-slide-tab-detail {
        opacity: 1;
    }
</style>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-6 col-md-3">
                <div class="homepage-product-slide-tab" data-sid="449" data-category="2">
                    <div class="homepage-product-slide-tab-top">
                        <div class="img-product">
                            <div class="image-motor-product">
                                <img src="~/images/@item.Hinh" alt="@item.TenHh" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHh">
                                <div class="homepage-product-slide-tab-detail d-flex align-items-center justify-content-center">@Localizer["ViewDetail"]</div>
                            </a>
                        </div>
                    </div>
                    <div class="name-price-motor w-100">
                        <p class="homepage-product-tab-name homepage-txt-name text-danger font-weight-bold " style="font-weight:bolder">@item.TenHh</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="homepage-product-slide-tab-price homepage-txt-price " style="font-weight:bold">@Localizer["From"] @item.DonGia.ToString("#,##0.00")<sup class="supper">@SharedLocalizer["Currency"]</sup></p>
                            <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHh" class="btn border border-secondary rounded-pill px-3 text-danger"><i class="fa fa-shopping-bag me-2 text-danger"></i> @Localizer["AddToCart"]</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>